<h2 align = "center">entered details in users <area></area></h2>

<div class="form-group">
 <table class="show1" align="center" >
<tr>
    <td ><%="firstname"%></td>
    <td class ="form-control"><%= @user.firstname%></td>
    <!-- <td><%= button_to "back", users_path, :method => "get" %></td> -->
</tr>
  

<tr>
    <td><%= "middlename "%></td>
    <td class ="form-control"><%= @user.middlename %></td>
</tr>

<tr>
    <td><%="lastname" %></td>
    <td class ="form-control"><%=@user.lastname%></td>
</tr>


<tr>
    <td> <%= "emailid"%></td>
    <td class ="form-control"> <%=@user.email%></td>
</tr>


<tr>
    <td>  <%="loginid" %></td>
    <td class ="form-control"> <%=@user.loginid%></td>
</tr>

<tr>
    <td>  <%="password" %></td>
    <td class ="form-control"> <%= @user.password%></td>
</tr>

<tr>
    <td>  <%="employee id" %></td>
    <td class ="form-control"> <%= @user.empid%></td>
</tr>
<td></td>
<tr>
    <td><%="DOB"%></td>
    <td class ="form-control"> <%=@user.dob.strftime('%B %d, %Y')%></td>
</tr>

<tr>
    <td><%="timezone"%></td>
    <td class ="form-control"><%=@user.timezone%></td>
</tr>
<td></td>
<tr>
    <td><%="date of joing"%></td>
    <td class ="form-control"> <%= @user.doj.strftime('%B %d, %Y')%></td>
</tr>
<td></td>
<tr>
    <td><%="Gender" %></td>
    <td class ="form-control"> <%= @user.gender%></td>
</tr>
<td></td>
<tr>
    <td><%="Designation" %></td> 
    <td class ="form-control"> <%=@user.designation.try(:name)%></td>
    


</tr>
<td></td>
<tr>
    <td><%="Education"%><br></td> 
    <td class ="form-control"> <%=@user.education%></td>
</tr>
<td></td>
<tr>
    <td><%="Comments"%></td> 
    <td class ="form-control">  <%=@user.comments%></td>
</tr>

<tr>
    <td><%="phone"%></td> 
    <td class ="form-control">  <%=@user.phone%></td>
</tr>
<td><%="image"%></td> 
<td><%= image_tag @user.image.url(:medium)%></td>
<tr>



</tr>
<td></td>

</table>
</div>