

<h2 align="center">welcome to admin page to create user</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> image </th>
      <th> first name</th>
      <th> last name</th>
      <th> emailid </th>
      <th> employee id</th>
      <th> login id</th>
      
      
      <th> Date of Joining</th>
      <th>Gender</th>
      <th>Designation</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
      
        <td><%=image_tag user.image.url(:thumb)%></td>        
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email%></td>
        <td><%=user.empid%></td>
        <td><%= user.loginid %></td>
        
        
        <td><%= user.doj.strftime('%B %d, %Y')%></td>
        <td><%= user.gender%></td>
        <td><%= user.designation.try(:name) %></td>
        
        <td>
        <td><%= button_to "edit", edit_user_registration_path(user) ,:method => "get" %></td>
        <td><%= button_to "show", admin_user_path(user),:method => "get" %></td>
      <td> <%= button_to'delete',admin_user_path(user),:confirm => 'Are you sure?', :method => :delete %></td>
          
      </tr>
      
    <% end %>
  </tbody>
  <td></td><td></td><td></td><td></td><td></td>
    <td><%= button_to 'create new user',new_admin_user_path ,:method => "get" %></td>
    
</table>

    